.btn {
  background-color: #808080;
  font-size: 24px;
  padding: 10px 18px;
}

.btn:hover {
  background-color: black;
  color: white;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}