button {
  padding: 10px 20px;
  font-size: 25px;
  margin: 10px;
  border-radius: 8px;
  background: rgb(235, 233, 233);
  color: black;
}

button:hover {
  background: black;
  color: white;
}

h1{
    font-size: 50px;
    margin: 20px 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div{
            display: flex;
            align-items: center;
            gap: 20px;
    }